$main-color: #F0F0F1;
$bar-color: #434950;
$flash-color: #FFFDC8;

@mixin rounded-corners($radius) {
	border-radius: $radius;
	-moz-border-radius:$radius;
	-webkit-borer-radius:$radius;
}

body, html { background-color: $main-color; }

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
.event_list_header {
	font-weight: bold;
	 padding: 10px 12px 3px;
}
.event_item {
	padding: 10px;
	border-top: 1px solid #9F9E9C;
	
	div.date {
		width: 50px;
		text-align:center;
		float:left;
		margin: 0 5px;
	}
	
	div.smiles {
		width: 75px;
		float:right;
	}

	div.description {
		float: left;
	    padding-left: 30px;
	
		span.view a {
			text-decoration: none;
		}
	}
}
div.menu {
	padding: 10px;
	span {
		padding:5px;
		float:left;
		margin-right:20px;
		&.active {
			@include rounded-corners(3px);
		}
	}
}
span.column_header {
	vertical-align: sub;
}
img.avatar {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    float: left;
    margin: 1px 10px 0 0;
    padding: 4px;
    width: 32px;
}
div#flash_notice {
	color: darken($flash-color, 50%);
	padding: 5px;
	text-align: center;
	background-color: $flash-color;
	border-bottom: 2px solid darken($flash-color, 10%);
}
img#planblogo {
	margin: 0 10px;
}
div#content {
	padding:10px;
}

/******************
 Login page styles
 ******************/

#app-bar {
  width: 100%;
  background: $bar-color;
}

#fb-button img {
  display: block;
  margin: 125px auto 0;
}

/* logout thingy style */

a#signout {
  position: absolute;
  top: 18px;
  right: 15px;
  color: #fff;
  font-variant: small-caps;
  font-size: 12px;
  text-decoration: none;
}

/* User image */

.user-img {
  padding: 5px 5px 15px;
  background: #fff;
  float: left;
}
div#info h2 {
	margin: 0 5px;
	display: inline;
	float:left;
	padding: 5px 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

 /* Media Query */

@media screen and (min-width: 480px) and (orientation: landscape) {
  #fb-button img {
    margin-top: 60px;
  }
}