$main-color: #F0F0F0;
$bar-color: #434950;
$flash-color: #FFFDC8;

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
body, html { background-color: $main-color; }

body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

div#flash_notice {
	color: darken($flash-color, 50%);
	padding: 5px;
	text-align: center;
	background-color: $flash-color;
	border-bottom: 2px solid darken($flash-color, 10%);
}

img#planblogo {
	margin: 0 0 0 10px;
}

div#content {
	padding:10px;
}

/******************
 Page styles
 ******************/

#app-bar {
  width: 100%;
  height: 50px;
  background: $bar-color;
  background: -moz-linear-gradient(top,  $bar-color,  darken($bar-color, 5%));
  background: -webkit-gradient(linear, left top, left bottom, 
                                     from($bar-color), to(darken($bar-color, 5%)));
  border-bottom: 1px solid #000;
}

#fb-button img {
  display: block;
  margin: 125px auto 0;
}

/* new plan thingy style */

a#new-plan-button {
  float: right;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  @include rounded-corners(4px);
  background: #4D5259;
  padding: 5px 8px;
  margin: 11px 10px 0 0;
  border: 1px solid #3c4248;
  text-shadow: 0 1px 0 #333;
}

/* User image */

.user-img {
  padding: 5px 5px 15px;
  background: #fff;
  float: left;
  margin: 0 5px 0 0;
}

div#info h2 {
	padding: 5px 0 0;
	font-size: 18px;
	text-shadow: 0 1px 0 #fff;
}

a#signout {
  font-size: 10px;
  color: gray;
  text-decoration: none;
  border-bottom: 1px dotted gray;
}

/* Plans part on dashboard */
#plans { margin-top: 10px;}
#plans h2 {
  padding: 5px 0;
  text-shadow: 0 1px 0 #fff;
}
.plan-item {
  padding: 5px;
  background: #fff;
  border: 1px solid darken($main-color, 3%);
  margin-bottom: -1px;

  time img {
    float: left;
    margin-right: 5px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}
//.even {
//  background: lighten($main-color, 3%);
//}
//.odd {background: darken($main-color, 2%);}

 /* Calendar styling */
#calendar {
  text-align: center;
  width: 40px;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}
#month {
  background: -moz-linear-gradient(top, lighten($bar-color, 15%), $bar-color);
  background: -webkit-gradient(linear, left top, left bottom, 
                                     from(lighten($bar-color, 15%)), to($bar-color));
  border-radius: 6px 6px 0 0;
  padding: 1px 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}

#day {
  background: white;
  border-radius: 0 0 6px 6px;
  padding: 1px 0 0;
  font-size: 20px;
}



.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

 /* Media Query */

@media screen and (min-width: 480px) and (orientation: landscape) {
  #fb-button img {
    margin-top: 60px;
  }
}