body, html {
  background-color: #f0f0f0; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

div#flash_notice {
  color: #c8c100;
  padding: 5px;
  text-align: center;
  background-color: #fffdc8;
  border-bottom: 2px solid #fffb95; }

div#content {
  padding: 10px; }

/******************
 Page styles
 ******************/
#app-bar {
  width: 100%;
  height: 50px;
  background: #434950;
  background: -moz-linear-gradient(top, #434950, #373c42);
  background: -webkit-gradient(linear, left top, left bottom, from(#434950), to(#373c42));
  border-bottom: 1px solid #000; }

#fb-button img {
  display: block;
  margin: 125px auto 0; }

#logo {
  width: 100px;
  margin: 0 auto; }

#action-right {
  float: right;
  padding: 15px 10px; }

#action-left {
  float: left;
  padding: 15px 10px; }

a.nav-button, a.light-button {
  background-color: #434950;
  background: -moz-linear-gradient(top, #434950, #373c42);
  background: -webkit-gradient(linear, left top, left bottom, from(#434950), to(#373c42));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px 4px;
  border: 1px solid #272b2f;
  text-shadow: 0 1px 0 #222;
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3), inset 0 1px 1px #8d959f;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3), inset 0 1px 2px #8d959f; }

/* User image */
.user-img {
  padding: 5px 5px 15px;
  background: #fff;
  float: left;
  margin: 0 5px 0 0;
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); }

div#info h2 {
  padding: 5px 0 0;
  font-size: 18px;
  text-shadow: 0 1px 0 #fff; }

a#signout {
  font-size: 10px;
  color: gray;
  text-decoration: none;
  border-bottom: 1px dotted gray; }

/* Plans part on dashboard */
#plans {
  margin-top: 10px; }
#plans h2 {
  color: #C2C2C2;
  padding: 5px 0;
  text-shadow: 0 1px 0 #FFFCFC; }
#plans #filters {
  float: right; }

.plan-item {
  padding: 5px;
  background: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: -1px; }
.plan-item h3 {
  font-size: 14px; }
.plan-item p {
  font-size: 14px; }
.plan-item div.linkr {
  float: right;
  margin: 10px 10px 0;
  border: 6px solid #b0b0b0;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent; }
.plan-item span.address img {
  vertical-align: text-top; }

span.emotion {
  font-size: 12px;
  color: #707070;
  line-height: 1em;
  display: block; }
span.emotion img.emoticon {
  vertical-align: text-top; }

span.when, span.address {
  font-size: 12px;
  color: #707070;
  line-height: 1em; }

/* Calendar styling */
.calendar {
  text-align: center;
  width: 40px;
  font-weight: bold;
  float: left; }

.month {
  background-color: #7E2727;
  padding: 1px 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff; }

.day {
  background: white;
  padding: 1px 0 0;
  font-size: 20px; }

.desc {
  margin-left: 45px; }

img#location-small {
  margin-right: 10px;
  margin-top: 5px;
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  background-color: #fff; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* Media Query */
@media screen and (min-width: 480px) and (orientation: landscape) {
  #fb-button img {
    margin-top: 60px; } }
