/*  RESET
    http://meyerweb.com/eric/tools/css/reset/
    1.0 | 20080212
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

/*  End reset */

body, html { background-color: #F0F0F0; }

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
/*	color: #9F9E9C;*/*/
/*	font-size:0.8em;*/
	}
.event_list_header {
/*	background-color: #9F9E9C;
	color: #171717;*/
	font-weight: bold;
	 padding: 10px 12px 3px;
}
.event_item {
/*	background-color: #EBEBE6;
	color: #9F9E9C;*/
	padding: 10px;
	border-top: 1px solid #9F9E9C;
}
.selected {
/*	background-color: #e6e3cd;*/
}
.event_item div.date {
	width: 50px;
	text-align:center;
	float:left;
/*	color:#171717;*/
	 margin: 0 5px;
}
.event_item div.smiles {
	width: 75px;
	float:right;
}
.event_item div.description {
	float: left;
  padding-left: 30px;
}
.event_item div.description span.view a {
/*	color: #4083A9;*/
	text-decoration: none;
}
div.menu {
	padding: 10px;
}
div.menu span {
/*	color: #9F9E9C;*/
	padding:5px;
	float:left;
	margin-right:20px;
}
div.menu span.active {
/*	background-color: #9F9E9C;
	color: #EBEBE6;*/
	border-radius: 3px 3px 3px 3px;
}
span.column_header {
	vertical-align: sub;
}
img.avatar {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    float: left;
    margin: 1px 10px 0 0;
    padding: 4px;
    width: 32px;
}
div#flash_notice {
	color:#C2C27B;
	padding: 5px;
	text-align: center;
	background-color: #FFFDC8;
	border-bottom: 2px solid #EEEE9B;
	border-radius: 0px 3px 0px 3px;
}
img#planblogo {
	margin: 0 10px;
}
div#content {
	padding:10px;
}

/******************
 Login page styles
 ******************/

#app-bar {
  width: 100%;
  height: 50px;
  background: #434950;
}

#fb-button img {
  display: block;
  margin: 125px auto 0;
}

/* new plan thingy style */

a#new-plan-button {
  float: right;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  background: #4D5259;
  padding: 5px 8px 8px;
  margin: 11px 10px 0 0;
  border: 1px solid #3c4248;
}

/* User image */

.user-img {
  padding: 5px 5px 15px;
  background: #fff;
  float: left;
  margin: 0 5px 0 0;
}
div#info h2 {
	padding: 5px 0 0;
}

a#signout {
  font-size: 10px;
  color: gray;
  text-decoration: none;
  border-bottom: 1px dotted gray;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

 /* Media Query */

@media screen and (min-width: 480px) and (orientation: landscape) {
  #fb-button img {
    margin-top: 60px;
  }






