<h1 id="logo-plan-b">Logo Plan B</h1>
<div id="login-form">
  <form id="login" action="" method="post" accept-charset="utf-8">      
    <input type="email" name="email" placeholder="Email">

    <input type="password" name="password" placeholder="Password">
    
    <input type="submit" name="submit" value="Log in" id="submit" class="button">
  </form>
</div> <!-- end of login-form -->