<div class="menu">
	<span class="active">Events</span>
	<span>Groups</span>
	<span style="float:right;margin-right: 0;">Logout</span>
	<div style="clear:both;"></div>
</div>
<div class="event_container">
	<div class="event_list_header">
		<span class="column_header" style="width:30px;">Datum</span>
		<span class="column_header" style="width:100%;padding-left:45px;">Plan</span>
		<span class="column_header" style="width: 75px;float:right;">Smiles</span>
	</div>
	<div class="event_item">
		<div class="date">Aug 22 2011</div>
		<div class="description">Potje Paintballen<br/><span class="view"><a href="#">Bekijk plan</a></span></div>
		<div class="smiles">1+ 2-</div>
		<div style="clear:both;"></div>
	</div>
	<div class="event_item selected">
		<div class="date">Aug 27 2011</div>
		<div class="description">A2 Challenge<br/><span class="view"><a href="#">Bekijk plan</a></span></div>
		<div class="smiles">10+ 21-</div>
		<div style="clear:both;"></div>
	</div>
	<div class="event_item">
		<div class="date">Dec 12 2011</div>
		<div class="description">Kerstmis inkopen<br/><span class="view"><a href="#">Bekijk plan</a></span></div>
		<div class="smiles">3+ 5-</div>
		<div style="clear:both;"></div>
	</div>
</div>